section.section.COMPANY_TEXT 
    .company-text__inner.index-block.index-block--delimiter.index-block--tb-p80
        .company-text__container.maxwidth-theme
            .company-text__wrapper.flexbox.flexbox--direction-row
                .company-item__heading.flex-1 
                    .index-block__subtitle.company-item О компании
                    .index-block__title.title_700 Клиника мирового класса в Санкт-Петербурге
                    .company-item___text.index-block__preview 
                        p Клиника «Аспро: Медицинский центр» — это частный медицинский центр для всей семьи с 3&nbsp;филиалами в Челябинске. Есть детское и взрослое направление, отделение диагностики, экстренная помощь с выездом на дом.
                        p У нас наблюдаются целыми семьями, начиная с планирования и ведения беременности. Прием ведут врачи с богатой практикой и узкие специалисты: гастроэнтеролог, кардиолог, детский офтальмолог и хирург-ортопед.
                        p Есть собственная лаборатория анализов и диагностики. Нужен анализ крови или хотите знать, как чувствует себя ваше сердце, печень, ЖКТ? Никуда идти не придется! За 1 день проведем комплексное обследование и выясним, как сохранить здоровье на долгие годы.
                    .index-block__btn 
                        a.btn.btn-transparent-border.btn-posnawr(href="/company/") Подробнее
                            span
                .company-item__picture-wrapper.flex-1
                    .company-item__picture
                    
