footer.footer {
    border-top: 1px solid #ffffff1a;
    background: #333;
    position: relative;
    .footer__main-part {
        & * {
            display: block;
            box-sizing: border-box;
        }
        .maxwidth-theme {
            .footer__main-part-inner {
                display: flex;
                justify-content: space-between;
                padding: 3.5em 0 1em;
                border-bottom: 1px solid rgba(255, 255, 255, 0.398);
                .footer__part-item {
                    flex: 1;
                    flex-shrink: 0;
                    .items {
                        padding: 0 1.25em 2.5em 0;
                        .item-title {
                            color: #fff;
                            font-weight: 700;
                            font-size: 1em;
                            line-height: calc(1em + 7px);
                        }
                        .item-wrap {
                            margin: 1.25em 0 0 0;
                            .item-link {
                                &:not(:first-child) {
                                    margin: 0.6em 0;
                                }
                                a {
                                    color: #999;
                                    font-size: 0.98em;
                                    transition: color 0.2s ease-in-out;
                                    &:active {
                                        color: #ccc;
                                    }
                                    &:hover {
                                        color: #ccc;
                                    }
                                }
                            }
                        }
                    }
                    .footer__info {
                        .footer__info-item {
                            margin: 0.98em 0;
                            & div {
                                color: #fff;
                                display: flex;
                                .svg {
                                    margin-right: 0.5em;
                                }
                                a {
                                    color: #fff;
                                    transition: color 0.2s ease-in-out;
                                    &:hover {
                                        color: #ccc;
                                    }
                                }
                            }
                        }
                        .footer__phone {
                            &:hover .phones__inner .phones__dropdown {
                                visibility: visible;
                                opacity: 1;
                            }
                            .phones__inner {
                                display: flex;
                                align-items: center;
                                position: relative;
                                .icon-block__icon {
                                    margin-right: 0.5em;
                                }
                                .phones__phone-link {
                                    margin-right: 0.5em;
                                    color: #fff;
                                }
                                .phones__dropdown--top {
                                    bottom: -2em;
                                    top: auto;
                                }
                                .phones__dropdown {
                                    position: absolute;
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
                                    .dropdown--relative {
                                        position: relative;
                                    }
                                    .dropdown {
                                        border-radius: 4px;
                                        z-index: 2;
                                        padding: 1.423em;
                                        background: $white;
                                        max-width: 18.375em;
                                        left: -1em;
                                        display: flex;
                                        flex-direction: column-reverse;
                                        .dropdown__item {
                                            padding: 0.40625em 0;
                                            &:first-child {
                                                padding-top: 0;
                                            }
                                            &:last-child {
                                                padding-bottom: 0;
                                            }
                                        }
                                        .phones__phone-more {
                                            &:hover a.phones__phone-link {
                                                color: $main-theme;
                                            }
                                            a.phones__phone-link {
                                                font-weight: 600;
                                                color: $gray;
                                                .phones__phone-descript {
                                                    display: block;
                                                    margin-top: -0.125em;
                                                    font-weight: 400;
                                                }
                                                span.phones__dropdown-title {
                                                    font-size: 0.8em;
                                                    line-height: 1.584em;
                                                    color: $dropdown__title--gray;
                                                }
                                            }
                                        }
                                        .callback-item {
                                            .btn.btn-default {}
                                        }
                                        .phones__dropdown-item {
                                            margin: 0;
                                            padding-top: 1.25em;
                                            padding-bottom: 0.25em;
                                            &:last-child {
                                                padding-top: 0.9em;
                                            }
                                            .phones__dropdown-title {
                                                font-size: 0.8em;
                                                line-height: 1.584em;
                                                color: $dropdown__title--gray;
                                            }
                                            .email__title {}
                                            .phones__dropdown-value {
                                                a.email-link {
                                                    font-size: 0.934em;
                                                    margin-top: 0.1em;
                                                    line-height: 1.499em;
                                                }
                                                .address__text {
                                                    font-size: 0.934em;
                                                    margin-top: 0.1em;
                                                    line-height: 1.499em;
                                                }
                                            }
                                        }
                                        .social-item {
                                            .social {
                                                display: flex;
                                                align-items: center;
                                                position: relative;
                                                ul.social__items {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    padding: 0;
                                                    li.social__item {
                                                        margin: 0;
                                                        display: flex;
                                                        align-items: center;
                                                        a.social__link {
                                                            background-image: url("../img/header/social.svg");
                                                            background-repeat: no-repeat;
                                                            width: 2.0625em;
                                                            height: 2.0625em;
                                                            border-radius: 4px;
                                                            display: block;
                                                            transition: opacity 0.3s ease-in-out;
                                                            &:hover {
                                                                opacity: 0.8;
                                                            }
                                                        }
                                                    }
                                                    .social__item--image {
                                                        padding: 3px;
                                                    }
                                                    .vk {
                                                        a {
                                                            background-position: -5px -193px;
                                                        }
                                                    }
                                                    .tel {
                                                        a {
                                                            background-position: -334px -334px;
                                                        }
                                                    }
                                                    .yt {
                                                        a {
                                                            background-position: -99px -334px;
                                                        }
                                                    }
                                                    .vi {
                                                        a {
                                                            background-position: -334px -193px;
                                                        }
                                                    }
                                                    .wh {
                                                        a {
                                                            background-position: -334px -240px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .footer__social {
                            .social {
                                display: flex;
                                align-items: center;
                                position: relative;
                                ul.social__items {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 0;
                                    li.social__item {
                                        margin: 0;
                                        display: flex;
                                        align-items: center;
                                        a.social__link {
                                            background-image: url("../img/header/social.svg");
                                            background-repeat: no-repeat;
                                            width: 2.0625em;
                                            height: 2.0625em;
                                            border-radius: 4px;
                                            display: block;
                                            transition: opacity 0.3s ease-in-out, filter 0.3 ease-in-out;
                                            filter: grayscale(1);
                                            &:hover {
                                                opacity: 0.8;
                                                filter: grayscale(0);
                                            }
                                        }
                                    }
                                    .social__item--image {
                                        padding: 3px;
                                    }
                                    .vk {
                                        a {
                                            background-position: -5px -193px;
                                        }
                                    }
                                    .tel {
                                        a {
                                            background-position: -334px -334px;
                                        }
                                    }
                                    .yt {
                                        a {
                                            background-position: -99px -334px;
                                        }
                                    }
                                    .vi {
                                        a {
                                            background-position: -334px -193px;
                                        }
                                    }
                                    .wh {
                                        a {
                                            background-position: -334px -240px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer__bottom-part {
        background: #333;
        height: 2em;
    }
}