footer.footer   
    .footer__main-part 
        .maxwidth-theme 
            .footer__main-part-inner 
                .footer__part-item
                    .items
                        .item-title Компания
                        .item-wrap
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                .footer__part-item
                    .items
                        .item-title Услуги
                        .item-wrap
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                            .item-link 
                                a(href="/company.html") О клинике
                .footer__part-item
                    .footer__info 
                        
    .footer__bottom-part 
