aside.sidebar
    ul.nav.nav-list.side-menu.bordered
        li.list-item.sidebar-list-js.link-with-flag
            span.link-wrapper
                a.text--dark(href="company.html") О клинике
        li.list-item.sidebar-list-js
            span.link-wrapper
                a.text--dark(href="faq.html") Вопросы и ответы
        li.list-item.sidebar-list-js
            span.link-wrapper
                a.text--dark(href="company.html") Отзывы
    .promo-block 
        a.promo-link(href="index.html")
            img.promo-img(src="img/company/ads.jpg", alt="Вакцинация")