section.section.SERVICES 
    .index-block.index-block--delimiter.index-block--tb-p80
        .services-list
            .maxwidth-theme
                .index-block__subtitle
                .index-block__title-wrapper
                    .index-block__part--left
                        h3.index-block__title.title_700 Здоровье для всей семьи
                    .index-block__part--right.fill--dark
                        a.index-block__link.text--dark(
                            href="/services/"
                            title="Перейти в раздел"
                            ) Все услуги 
                        span.index-block__arrow
                            i.svg
                                svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                .index-block__preview В клинике «Аспро: Медицинский центр» представлены услуги для детей и взрослых. Запишитесь на прием к терапевту или узкому специалисту. Доктор выслушает вас, направит на обследование, а затем подберет индивидуальный план лечения. Если нужно, мы приедем к вам  в любую точку города и осмотрим всю семью.
            .maxwidth-theme
                .grid-list.grid-list--items-4 
                    .services-list__wrapper.grid-list__item
                        .services-list__item 
                            .services-list__item-image-wrapper 
                                a.services-list__item-link(href="/services/vzrosloe-otdelenie/")
                                    span.services-list__item-image(style="background-image: url('img/index/services/services1.webp')")
                                a.arrow-all(href="/services/vzrosloe-otdelenie/") 
                                    i.svg.arrow-all__item-arrow
                                        svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                    .arrow-all__item-line 
                            .services-list__item-text-wrapper
                                .serviser-list__item-title.title_700
                                    a.text--dark.font_18(href="/services/vzrosloe-otdelenie/") Взрослое отделение
                                .services-list__item-childs.font_15
                                    ul.list-unstyled
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/vzrosloe-otdelenie/vedenie-beremennosti/") 
                                                span.services-list__item-childs-item-name Ведение беременности
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/vzrosloe-otdelenie/gastroenterologiya/") 
                                                span.services-list__item-childs-item-name Гастроэнтерология
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/vzrosloe-otdelenie/vedenie-beremennosti/") 
                                                span.services-list__item-childs-item-name Кардиология
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/vzrosloe-otdelenie/vedenie-beremennosti/") 
                                                span.services-list__item-childs-item-name Терапия
                    .services-list__wrapper.grid-list__item
                        .services-list__item 
                            .services-list__item-image-wrapper 
                                a.services-list__item-link(href="/services/detskoe-otdelenie/")
                                    span.services-list__item-image(style="background-image: url('img/index/services/services2.webp')")
                                a.arrow-all(href="/services/detskoe-otdelenie/") 
                                    i.svg.arrow-all__item-arrow
                                        svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                    .arrow-all__item-line 
                            .services-list__item-text-wrapper
                                .serviser-list__item-title.title_700
                                    a.text--dark.font_18(href="/services/vzrosloe-otdelenie/") Детское отделение
                                .services-list__item-childs.font_15
                                    ul.list-unstyled
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/detskoe-otdelenie/pediatriya/") 
                                                span.services-list__item-childs-item-name Педиатрия
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/detskoe-otdelenie/detskiy-oftalmolog/") 
                                                span.services-list__item-childs-item-name Офтальмолог
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/detskoe-otdelenie/khirurg-ortoped/") 
                                                span.services-list__item-childs-item-name Хирург-ортопед
                    .services-list__wrapper.grid-list__item
                        .services-list__item 
                            .services-list__item-image-wrapper 
                                a.services-list__item-link(href="/services/vzrosloe-otdelenie/")
                                    span.services-list__item-image(style="background-image: url('img/index/services/services3.webp')")
                                a.arrow-all(href="/services/vzrosloe-otdelenie/") 
                                    i.svg.arrow-all__item-arrow
                                        svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                    .arrow-all__item-line 
                            .services-list__item-text-wrapper
                                .serviser-list__item-title.title_700
                                    a.text--dark.font_18(href="/services/skoraya-pomoshch/") Врач на дом
                                .services-list__item-childs.font_15
                                    ul.list-unstyled
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/skoraya-pomoshch/skoraya-pomoshch/") 
                                                span.services-list__item-childs-item-name Срочный вызов врача
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/skoraya-pomoshch/vyzov-vracha-na-dom/") 
                                                span.services-list__item-childs-item-name Вызов врача на дом
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/skoraya-pomoshch/statsionar-na-domu/") 
                                                span.services-list__item-childs-item-name Стационар на дому
                    .services-list__wrapper.grid-list__item
                        .services-list__item 
                            .services-list__item-image-wrapper 
                                a.services-list__item-link(href="/services/vzrosloe-otdelenie/")
                                    span.services-list__item-image(style="background-image: url('img/index/services/services4.webp')")
                                a.arrow-all(href="/services/vzrosloe-otdelenie/") 
                                    i.svg.arrow-all__item-arrow
                                        svg(width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 1L4 4L1 7" stroke="#CACACA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                    .arrow-all__item-line 
                            .services-list__item-text-wrapper
                                .serviser-list__item-title.title_700
                                    a.text--dark.font_18(href="/services/diagnostika/") Диагностика
                                .services-list__item-childs.font_15
                                    ul.list-unstyled
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/diagnostika/analiz-krovi/") 
                                                span.services-list__item-childs-item-name Анализы
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/diagnostika/uzi/") 
                                                span.services-list__item-childs-item-name УЗИ и рентген
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/diagnostika/Endoscopy/") 
                                                span.services-list__item-childs-item-name Эндоскопия
                                                span.services-list__item-childs-item-separator —
                                        li.services-list__item-childs-item-wrapper 
                                            a.services-list__item-childs-item(href="/services/diagnostika/kompleksnoe-obsledovanie/") 
                                                span.services-list__item-childs-item-name Комплексное обследование