aside.sidebar
    ul.nav.nav-list.side-menu.bordered
        li.list-item.link-with-flag
            span.link-wrapper
                a.text--dark.active(href="/company.html/") О клинике
        li.list-item
            span.link-wrapper
                a.text--dark(href="/company.html/") Вопросы и ответы
        li.list-item
            span.link-wrapper
                a.text--dark(href="/company.html/") Отзывы
    .promo-block 
        a.promo-link(href="/") 
            img.promo-img(src="img/company/ads.jpg", alt="Вакцинация")