.company-content__item
    img.img-responsive(
        src="img/company/company.webp"
    )
.company-content__item 
                    | 
                    b Медицинский центр «Ладья» 
                    |- это многопрофильное учреждение, которое предлагает широкий ассортимент в сфере медицинских услуг. У нас вы сможете пройти медосмотр для получения необходимого пакета документов для предоставления их в органы и ведомства, работодателю, для получения разрешающей документации.
.company-content__item Прохождение медосмотра у вас не заберет много времени, поскольку деятельность персонала проходит в строгом соответствии с внутренним регламентом и распорядком. Мы сотрудничаем с частными лицами, предприятиями, государственными компаниями.
.company-content__item После прохождения медицинской комиссии в Санкт-Петербурге, вы получите справки или медицинские книжки, которые соответствуют правилам и требованиям Федеральной Миграционной службы, Центра гигиены и эпидемиологии, ГИБДД (ГАИ) и других служб и ведомственных организаций.

.company-content__item
    .title_700.content-item__title Наши направления:

ul.company-content__item
    li Проф. осмотры 
    li Медицинские осведетельствования мигрантов 
    li Медицинские осведетельствования несовершеннолетних мигрантов 
    li Выездные медицинские услуги
