section.section.TIZERS
    .index-block.index-block--delimiter
        .tizers-list 
            .tizers-list-container.maxwidth-theme
                .tizers-list__items-wrapper.grid-list.grid-list--items-4 
                    .tizers-list__item-wrapper.grid-list__item
                        .tizers-list__item
                            .tizers-list__item-image-wrapper
                                i.svg
                                    include ../../../img/index/individualny-podhod.svg
                            .tizers-list__item-text-wrapper.color--dark-theme
                                span.tizer-list__item-name.font_17.title_700 Индивидуальный подход
                                span.tizer-list__item-descr.font_14.color--grey Объясняем диагнозы и схему лечения доступным языком
                    .tizers-list__item-wrapper.grid-list__item
                        .tizers-list__item
                            .tizers-list__item-image-wrapper
                                i.svg
                                    include ../../../img/index/c2006goda.svg
                            .tizers-list__item-text-wrapper.color--dark-theme
                                span.tizer-list__item-name.font_17.title_700 С 2006 года
                                span.tizer-list__item-descr.font_14.color--grey Наши врачи заботятся о здоровье всей семьи
                    .tizers-list__item-wrapper.grid-list__item
                        .tizers-list__item
                            .tizers-list__item-image-wrapper
                                i.svg
                                    include ../../../img/index/3filiala.svg
                            .tizers-list__item-text-wrapper.color--dark-theme
                                span.tizer-list__item-name.font_17.title_700 3 филиала
                                span.tizer-list__item-descr.font_14.color--grey Стараемся быть ближе к нашим пациентам
                    .tizers-list__item-wrapper.grid-list__item
                        .tizers-list__item
                            .tizers-list__item-image-wrapper
                                i.svg
                                    include ../../../img/index/21doctor.svg
                            .tizers-list__item-text-wrapper.color--dark-theme
                                span.tizer-list__item-name.font_17.title_700 21 доктор
                                span.tizer-list__item-descr.font_14.color--grey Врачи общей практики и узкие специалисты
