section.section.BIG-BANNER-INDEX
    .index-block
        .maxwidth-banner.maxwidth-banner-js
            .banners-big__wrapper.swiper-wrapper
                .swiper-slide.mb-slider.text-dark-js
                    .box.banner-big__item(style="background: url('../img/index/main-slide1.webp') top center no-repeat;")
                        .banner-big__container 
                            .banner-big__inner 
                                .banner-big__text
                                    .banner-big__top-text Услуги
                                    .banner-big__title
                                        | Комплексное
                                        br
                                        | обследование
                                        br
                                        | за 1 день
                                    .banner-big__text-wrapper 
                                        .banner-big__text-block
                                            | 9 программ комплексного обследования всего организма.
                                            br
                                            | Индивидуальный мониторинг и рекомендации специалистов.
                                    .banner-big__buttons 
                                        .banner-big__buttons-item 
                                            .big-banner-button
                                                a.btn.btn-default.btn-posnawr(href="/services/diagnostika/kompleksnoe-obsledovanie/") Выбрать программу
                                                    span
                                .banner-big__img-wrapper
                                    img.banner-big__img.lazyloaded(src="img/index/komplex-obcledivanya.webp", alt="Комплексное обследование за 1 день")
                .swiper-slide.mb-slider.text-white-js
                    .box.banner-big__item(style="background: url('../img/index/main-slide1.webp') top center no-repeat;")
                        .banner-big__container 
                            .banner-big__inner 
                                .banner-big__text
                                    .banner-big__top-text Услуги
                                    .banner-big__title
                                        | Тестируем
                                        br
                                        | на COVID-19
                                    .banner-big__text-wrapper 
                                        .banner-big__text-block
                                            | Проводим ПЦР-исследования и анализы крови на антитела.
                                            br
                                            | Результаты — на следующий день.
                                    .banner-big__buttons 
                                        .banner-big__buttons-item 
                                            .big-banner-button
                                                a.btn.btn-default.btn-posnawr(href="/services/diagnostika/kompleksnoe-obsledovanie/") Выбрать программу
                                                    span
                                        .banner-big__buttons-item 
                                            .big-banner-button
                                                a.btn.btn-white.btn-posnawr(href="/services/diagnostika/kompleksnoe-obsledovanie/") Подробнее
                                                    span
                                .banner-big__img-wrapper
                                    img.banner-big__img.lazyloaded(src="img/index/servise-banner.webp", alt="Комплексное обследование за 1 день")
                .swiper-slide.mb-slider.text-white-js
                    .box.banner-big__item(style="background: url('../img/index/main-slide1.webp') top center no-repeat;")
                        .banner-big__container 
                            .banner-big__inner 
                                .banner-big__text
                                    .banner-big__top-text Услуги
                                    .banner-big__title
                                        | Ведение
                                        br
                                        | беременности
                                    .banner-big__text-wrapper 
                                        .banner-big__text-block
                                            | Комфортная беременность и безопасные роды — 
                                            br
                                            | под наблюдением наших специалистов.
                                    .banner-big__buttons 
                                        .banner-big__buttons-item 
                                            .big-banner-button
                                                a.btn.btn-default.btn-posnawr(href="/services/diagnostika/kompleksnoe-obsledovanie/") Выбрать программу
                                                    span
                                        .banner-big__buttons-item 
                                            .big-banner-button
                                                a.btn.btn-white.btn-posnawr(href="/services/diagnostika/kompleksnoe-obsledovanie/") Подробнее
                                                    span
                                .banner-big__img-wrapper
                                    img.banner-big__img.lazyloaded(src="img/index/vedeniye-beremenosty.webp", alt="Ведение беременности")

        .mb-carusel__dots
        .mb-nav
            .mb-button.mb-button-prev
                i.mb-carousel__button.mb-carousel__button--left
                    svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            .mb-button.mb-button-next
                i.mb-carousel__button.mb-carousel__button--rigth
                    svg(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M6 1L1 6L6 11" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            