body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.82vw;
    background-size: auto;
    & * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 0.82vw;
        outline: none;
        border: none;
    }
}

.main {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.container {
    width: 100%!important;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.text--light {
    color: $light-theme;
}

.text--dark {
    color: $dark-theme;
}

a.text--dark {
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $main-theme;
    }
}

.fill-svg--theme-color {
    fill: $main-theme;
}

.fill--dark {
    fill: $gray;
    transition: fill 0.2s ease-in-out;
    &:hover {
        fill: $main-theme;
    }
}

.light-opacity-hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .1s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}

.color-theme-hover {
    cursor: pointer;
    transition: color .1s ease-in-out;
    &:hover {
        color: $main-theme;
    }
}

.svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.inline {}

.svg-inline {}

.btn {
    position: relative;
    display: inline;
    font-size: 0.933em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.428571429;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
    padding: 0.5625em 1.25em 0.625em;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-default {
    background-color: $main-theme;
    color: $white;
    border: 1px solid #fff0;
    &:hover {
        color: $white;
    }
    span {
        background-color: #fff2;
    }
}

.btn-white {
    background-color: $white;
    color: $main-theme;
    border: 1px solid #fff0;
    &:hover {
        color: $white;
        background-color: $main-theme;
    }
    span {
        background-color: #fff2;
    }
}

.btn.btn-wide {
    width: 100%;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s;
}

.btn-posnawr {
    display: inline-block;
    width: 100%;
    height: auto;
    min-width: 50px;
    max-width: 254px;
    &:hover {
        border: 1px solid $main-theme
    }
    &:hover span {
        width: 325%;
        height: 762.5px;
    }
    &:active {
        background-color: $main-theme;
    }
    span {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}