body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.82vw;
    background-size: auto;
    & * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 0.82vw;
        outline: none;
        border: none;
    }
}

.container {
    width: 100%!important;
    padding: 0;
}

.main {
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
        & * {
            flex: 0 0 auto;
        }
    }
}

.index-block {
    &--delimiter {
        border-bottom: 1px solid $stroke_gray;
    }
    &--tb-p80 {
        padding: 5em 0;
    }
    &__subtitle {
        font-size: 0.86667em;
        line-height: calc(1em + 7px);
        margin-bottom: 0.75em;
        color: $dropdown__title--gray;
    }
    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__title {
        margin: 0;
        font-size: 2.5em;
        line-height: 1.425em;
        color: $dark-theme;
    }
    &__part--right {
        display: flex;
        align-items: center;
    }
    &__arrow {
        margin-left: 0.75em;
    }
    &__preview {
        max-width: 62.5em;
        margin: 1.3125em 0 3.9em 0;
        text-align: left;
        font-size: 0.9375em;
        line-height: 1.5625em;
        color: $gray;
    }
}

.maxwidth-theme {
    max-width: 95.05em;
    margin: 0 auto;
    overflow: hidden;
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    &--direction-row {
        flex-direction: row!important;
    }
}

.flex {
    &-1 {
        flex: 1!important;
    }
}

.grid-list {
    display: grid;
    grid-gap: 32px;
    &__item {
        min-width: 0;
    }
    &--items-4 {
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.fixed {
    display: block!important;
    position: fixed;
    margin: 0;
    width: 100%;
    right: 0;
    left: 0;
    opacity: 1!important;
    z-index: 99999;
    background: linear-gradient(180deg, rgb(255 255 255 / 73%) 0, rgb(248 248 248 / 56%) 100%);
    backdrop-filter: blur(10px);
}

.text--light {
    color: $light-theme;
}

.text--dark {
    color: $dark-theme;
}

a.text--dark {
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $main-theme;
    }
}

.fill {
    fill: $main-theme!important;
    & * {
        fill: $main-theme!important;
    }
    &-svg--theme-color {
        fill: $main-theme!important;
    }
}

.fill--dark {
    fill: $gray;
    transition: fill 0.2s ease-in-out;
    &:hover {
        fill: $main-theme;
    }
}

.light-opacity-hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .1s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}

.color {
    &-theme-hover {
        cursor: pointer;
        transition: color .1s ease-in-out;
        &:hover {
            color: $main-theme;
        }
    }
    &--dark-theme {
        color: $dark-theme;
    }
    &--grey {
        color: $gray;
    }
}

.svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn {
    position: relative;
    display: inline;
    font-size: 0.933em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.428571429;
    text-transform: none;
    letter-spacing: normal;
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
    padding: 0.5625em 1.25em 0.625em;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-default {
    background-color: $main-theme;
    color: $white;
    border: 1px solid #fff0;
    &:hover {
        color: $white;
    }
    span {
        background-color: #fff2;
    }
}

.btn-white {
    background-color: $white;
    color: $main-theme;
    border: 1px solid #fff0;
    &:hover {
        color: $white;
        background-color: $main-theme;
    }
    span {
        background-color: #fff2;
    }
}

.btn.btn-wide {
    width: 100%;
}

.btn-transparent-border {
    background-color: none;
    color: $main-theme;
    border: 1px solid $main-theme;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
        color: $white;
        background-color: $main-theme;
    }
    span {
        background-color: #fff2;
    }
}

.btn-posnawr {
    display: inline-block;
    width: 100%;
    height: auto;
    min-width: 50px;
    max-width: 254px;
    &:hover {
        border: 1px solid $main-theme
    }
    &:hover span {
        width: 225%;
        height: 362.5px;
    }
    &:active {
        background-color: $main-theme;
    }
    span {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.title {
    &_700 {
        font-weight: 700;
    }
}

.font {
    &_20 {
        font-size: 1.33333em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
    &_18 {
        font-size: 1.2em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
    &_17 {
        font-size: 1.13333em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
    &_15 {
        font-size: 1em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
    &_14 {
        font-size: .93333em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
    &_13 {
        font-size: .86667em;
        letter-spacing: -0.03em;
        line-height: calc(1em + 7px);
    }
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s;
}

.logo {
    width: 100%;
    filter: invert(1);
}